	<%= form_for @order, remote: false do |f| %>
		<%= f.text_field :shipping %>
		<%= f.phone_field :phone_no %>
		<%= f.hidden_field :user_id, value: @user.id %>
<br>
		<% current_cart.cart_items.each do |cart_item| %>
		<input type="text" name="order[cart_items][]" value="<%= cart_item.id%>">
		<br>
		<% end%>




		
		<%= f.submit "complete order", class: "btn btn-primary" %>

	
	<% end%>
	<!-- USER INFO -->
	<div>
			<%= @user.email %>
		
	</div>
	<!-- USER INFO END -->
	<!-- CART_ITEM INFO -->
	<div>
		
	</div>
	<!-- CART_ITEM INFO END -->
		<% current_cart.cart_items.each do |cart_item| %>
		<%= cart_item.product.title %>
		<%= cart_item.total_price %>
		<% end%>
	<!-- SHIPPING INFO  -->
	<div>
		
	</div>
	<!-- SHIPPING INFO END -->
	
