 <% @products.each do |product| %>
<%= link_to(:controller => 'products',:action => 'detail', :id => product.id) do %> <p><%= product.title %> | <%= number_to_currency product.price %>
    <p><%= product.price %></p>+
    <p> add product </p>
  <%end %>
<% end %>

<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="short-codes.html#">Action</a></li>
								<li><a href="short-codes.html#">Another action</a></li>
								<li><a href="short-codes.html#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="short-codes.html#">Separated link</a></li>
							</ul>





<li role="presentation" class="active"><a href="index.html#skirts" role="tab" id="skirts-tab" data-toggle="tab" aria-controls="skirts">Skirts</a></li>

<div class="agile_ecommerce_tabs">
	



							<% @products.skirts do |product| %>
								   <div class="col-md-4 agile_ecommerce_tab_left">
 	     							<div class="hs-wrapper">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<img src="images/10.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<img src="images/10.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="index.html#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html"><%= product.category %></a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$320</span> <i class="item_price">$250</i></p>
										<p><a class="item_add" href="index.html#">Add to cart</a></p>
									 </div>
								  </div>
								  <% end%>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/10.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<img src="images/10.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="index.html#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Skirt</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$320</span> <i class="item_price">$250</i></p>
										<p><a class="item_add" href="index.html#">Add to cart</a></p>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="images/10.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<img src="images/10.jpg" alt=" " class="img-responsive">
										<img src="images/8.jpg" alt=" " class="img-responsive">
										<img src="images/9.jpg" alt=" " class="img-responsive">
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="index.html#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5><a href="single.html">Skirt</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>$320</span> <i class="item_price">$250</i></p>
										<p><a class="item_add" href="index.html#">Add to cart</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>